
// ------------------------------------ //
//  COLORS
// ------------------------------------ //
$bg: #F7F9FC;
$bg2: #EDF1F7;
$accent: #10FCFD;
$blue: #0095FF;
$blue2: #3366FF;
$black: #030131;
$new_black: #111111;
$light_text: #C5CEE0;
$green: #00D68F;
$placeholder: #8F9BB3;
$error: #7c1530;

$landing: #0F0868;
$darkblue: #1A136F;


// ------------------------------------ //
//  FONTS
// ------------------------------------ //

$samsungbold: 'Samsung Sharp Bold';
$samsungmedium: 'Samsung Sharp Medium';
$montserratbold: 'Montserrat Bold';
$samsung: 'Samsung Sharp';


// ------------------------------------ //
//  SIZES - spacing
// ------------------------------------ //

$padding_horizontal: 56px;
$padding_mini: 25px;
$main_spacing: 32px;

$landing_padding: 181px;



// ------------------------------------ //
//  SIZES - responsive
// ------------------------------------ //

$container_max: 960px;

$footer_height: 1096px;
$footer_mobile: 1032px;

$min_width_mobile: 599px;


// ------------------------------------ //
//  TEXTS 
// ------------------------------------ //

$heading: 50px;
$subheading: 36px;
$subheading2: 32px;
$feature: 30px;
$text: 15px;
$mini: 13px;
$button: 18px;
$button_nav: 16px;
$caption: 12px;


